<div class=home-banner-full>
  <h1 class="title">Update <%= @book.title %>'s information</h1>
  <div class="form-sheet">
    <%= simple_form_for @book, url: library_path(@book), html: { method: :patch } do |f| %>
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.input :pages %>
      <%= f.input :rating, required: true, collection: 1..5 %>
      <%= f.input :photo, as: :file %>
      <div class="submit-div">
        <%= f.button :submit, "Update!", class: "add-btn" %>
      </div>
    <% end %>
  </div>
</div>




<!-- <%= form_for @book, url: library_path(@book), html: { method: :patch } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :pages %>
  <%= f.number_field :pages %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
<% end %>
-->
